@import "../variables";

.weatherCard {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.weatherCard::-webkit-scrollbar {
  height: 8px;
}

.weatherCard::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

.forecastBox {
  min-width: 180px;
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.temp {
  font-size: 2.5rem;
  font-weight: bold;
  color: $primary;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  margin-top: .5rem;
  text-transform: capitalize;
}

.small {
  margin-top: .5rem;
  font-size: .85rem;
  color: $text-light;
}
